body{
	font-size: 16px;
	text-align: center;
}
img{
	border-radius: 200px;
	width: 200px;
}
#txtNombre{
	font-size: 2em;
}

#a1, #a2{
	display: inline-block;
}
#a1{
	background: blue;
	float: left;
	padding-bottom: 500px;
	padding-right: 200px;
	
	
}